@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Victor+Mono&display=swap");

$color-white: #ffffff;
$color-spotify-green: #50D85F;
$color-green: #A1C445;
$color-dark-green: #47C063;
$color-lavender: #F2EFF6;
$color-purple: #400073;
$color-black: #282828;
$background-color-beige: #FFFEF0;

$font-small: 14px;
$font-medium: 16px;
$font-large: 20px;
$font-xlarge: 32px;

:root {
  margin: 0;
  padding: 0;
  font-family: Victor Mono, Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 130%;
  font-weight: 400;
  font-size: $font-small;
  background-color: $background-color-beige;
  color: $color-black;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-size: $font-xlarge;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 300;
  color: $color-black;
  text-decoration: inherit;

  &:hover {
    color: $color-green;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, textarea {
  font-size: $font-small;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  width: 70%;

  &:focus {
    outline: 2px solid $color-dark-green;
  }
}

.btn {
  padding: 0.3em 0.6em;
  font-size: $font-medium;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  border: 2px solid transparent;
  border-radius: 10px;
}

.btn-primary {
  border-radius: 8px;
  background-color: $color-dark-green;
  font-family: inherit;
  
  &:hover {
    background-color: rgba($color-green, 0.8);
  }
}

.btn-secondary {
  background-color: $color-purple;
  color: $color-white;

  &:hover {
    background-color: $color-lavender;
    color: $color-purple;
    border: 2px solid transparent;
  }
}

.btn-secondary-outline {
  background-color: transparent;
  color: $color-black;
  border: 2px solid $color-dark-green;

  &:hover {
    background-color: $color-green;
    color: $color-black;
  }
}
